* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

/*header*/
header {
    background-color: #000000;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 30px 30px;
}

.icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

    .icon a {
        color: white;
        margin: 20px;
        text-decoration: none;
        transition: 0.5s
    }

    .icon:hover {
        color: #808080;
    }


/*main*/
main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh);
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

    .container h1 {
        margin-bottom: 10px 0 25px 0;
    }

    .container p {
        margin-top: 16px;
        line-height: 24px;
    }







/*footer*/
footer {
    background-color: #111;
    padding: 5px;
}

.footerContainer {
    width: 100%;
    padding: 25px 30px 10px;
}

.footer-right img {
    width: 170px;
    float: right;
    padding: 0px;
}

.footer-left h4 {
    color: white;
}


.socialm {
    display: flex;
    justify-content: center;
}

    .socialm a {
        text-decoration: none;
        padding: 12px;
        background-color: white;
        margin: 5px;
        border-radius: 70%;
    }

        .socialm a i {
            font-size: 2em;
            color: black;
            opacity: 0.9;
        }

        .socialm a:hover {
            background-color: #ff7200;
            transition: 0.5s;
        }


.footerNav {
    margin: 20px 0;
}

    .footerNav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

        .footerNav ul li a {
            color: white;
            margin: 20px;
            text-decoration: none;
            font-size: 1.3em;
            transition: 0.5s
        }

            .footerNav ul li a:hover {
                color: #ff7200;
            }

.footerbotm {
    background-color: black;
    padding: 5px 20px;
    text-align: center;
}

footer p {
    text-align: center;
    color: #fff;
}
